@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');



body {
    background-color: #12121200;
}

img {
    width: 100%;
    margin-bottom: 0.9em;
    border-radius: 2%;
}

.list {
    columns: 170px;
}

.list img {
    padding: 0;
    margin: 0;
    transition: 0.5s ease;
}

.list img:hover {
    filter: grayscale(1);
    transform: scale(0.99);
}

.list figure {
    display: inline-block;
    margin: 0;
}

figcaption {
    font-family: "Space Grotesk", sans-serif;
    color: #ccc;
    font-size: 0.6rem;
    text-align: left;
    text-decoration: none;
    padding-bottom: 1em;
}

body {
    /* For Firefox */
    scrollbar-width: auto;

    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
}

/* For Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}